@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LatoBlack';
  src: url('../fonts/LatoBlack/Lato-Black.eot');
  src: url('../fonts/LatoBlack/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LatoBlack/Lato-Black.woff') format('woff'),
  url('../fonts/LatoBlack/Lato-Black.ttf') format('truetype'),
  url('../fonts/LatoBlack/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'LatoMedium';
  src: url('../fonts/LatoMedium/Lato-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTMonoRegular';
  src: url('../fonts/PTMono/PTMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTMonoBold';
  src: url('../fonts/PTMono/PTMono.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
