* {
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  outline: none;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  border: none;
}

pre {
  letter-spacing: 0.6px;
  @include font-size(9px, $PTRegular, #242b3b, 15px);
}

strong {
  font-family: "LatoBold";
}

.layout {
  height: 100%;
  background: $lightGrey;
}

.b-content {
  position: relative;
  margin-left: $widthMenu;
}

.codeBold {
  font-weight: 700;
  @include font-size(9px, $PTBold, #242b3b, 15px);
}