/* @var colors */
$white: #fff;
$black: #000;
$lightGrey: #f8f9f9;
$greyTwo: #eef1f5;

/* @var fonts */
$LatoBold: 'LatoBold';
$LatoRegular: 'LatoRegular';
$LatoMedium: 'LatoMedium';
$RobotoBold: 'LatoBlack';

/*  pt font for snippets  */
$PTRegular: 'PTMonoRegular';
$PTBold: 'PTMonoBold';

/* @size elements */
$widthMenu: 419px;
