mixin footer()
    .b-footer.b-footer--indentation
        +titleH3("Как с нами связаться")(class="b-title-h3__elem--medium")
        p.b-text.b-text--indentation Если у вас есть вопросы и вы не нашли на них ответы в документации,<br> пишите на <a href="mailto:support@paymo.ru" class='b-text__support'>support@paymo.ru</a> или звоните нам по номеру <a class="b-text__tel" href="tel:7 (495) 369-60-67">+7 (495) 369-60-67</a>.

